[Desktop Entry]
Type=Application
# Version=1.5
# Commented out because PupNet needs updating to recognise 1.5, so letting it default to latest is ideal.
Name=Cyberpunk 2077 Mod Manager
GenericName=Mod Manager
Comment=Mod Manager for Cyberpunk 2077 on Linux
Categories=Game
Terminal=false
StartupWMClass=Cyberpunk2077.Mod.Manager
MimeType=x-scheme-handler/nxm
Icon=com.cyberpunk2077.modmanager
Exec=${INSTALL_EXEC} %u
TryExec=${INSTALL_TRYEXEC}
X-AppImage-Integrate=true
X-AppImage-Name=Cyberpunk2077.Mod.Manager
X-AppImage-Arch=x86_64
